language: python

python:
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.5-dev"
    - "3.6"
    - "3.6-dev"
    - "3.7-dev"
    - "nightly"

matrix:
    allow_failures:
        - python: "3.7-dev"
        - python: "nightly"

install:
    - pip install -U pip
    - pip install -r requirements.txt

script: 
    - tox -e check,py
